// Custom colors
// --------------------
$primary-500: #e91e63;
$primary-600: #d81b60;
$primary-700: #c2185b;

// Config
// --------------------

// Enable <header>, <main>, <footer> inside <body> as a container
$enable-semantic-container: true;

// Enable .container and .container-fluid
$enable-class-container: false;

// Enable .classes
$enable-classes: false;

// Enable overriding with !important (used for <article>, `reduce-motion`, [type="search"])
$enable-important: false;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: null,
  xl: null,
);

// Pico Lib
// --------------------
@import "../node_modules/@picocss/pico/scss/pico";

// Custom Styles
// --------------------
@import "custom";
